# App
HOST=0.0.0.0
PORT=8080

# Docker
IMAGE_NAME=cortex
IMAGE_TAG=latest
CONTAINER_NAME=cortex

# AWS (for make docker-push / make deploy-local)
AWS_REGION=us-east-1
AWS_ECR_LOGIN_URI=
ECR_REPOSITORY_NAME=lakra-ecr-repo

# AWS credentials (local use only — use GitHub Secrets for CI/CD)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# RAG app
OPENAI_API_KEY=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_BUCKET_NAME=
VECTOR_DB_PATH=cortex_db
