# App
HOST=0.0.0.0
PORT=8080

# Docker
IMAGE_NAME=cicd-demo
IMAGE_TAG=latest
CONTAINER_NAME=cicd-demo

# AWS (for make docker-push / make deploy-local)
AWS_REGION=us-east-1
AWS_ECR_LOGIN_URI=
ECR_REPOSITORY_NAME=lakra-ecr-repo

# AWS credentials (local use only — use GitHub Secrets for CI/CD)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
